<button class="btn" (click)="openAddTask('open')">
  <span class="iconify text-lg mr-2" [attr.data-icon]="icon" data-inline="false"></span>
  {{ name }}
</button>

<div class="task-container flex flex-wrap gap-4 justify-center mt-8">
  <div *ngFor="let task of (tasks$ | async)">
    <app-task
      [name]="task.name"
      [status]="task.status"
      [priority]="task.priority"
      [due]="task.due"
      [id]="task.id || ''"
      (taskId)="onEdit($event)"
      (taskIdDelete)="onDelete($event)">
    </app-task>
  </div>
</div>

<app-add-task *ngIf="isModalOpen" (isModalOpenEvent)="closeModal($event)" [selectedTask]="selectedTask" (resetSelectedTask)="resetSelectedTask()"></app-add-task>
